.container {
  width: 26vw;
  max-width: 380px;
  padding: 2%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  padding-bottom: 12px;
}

.totalVote {
  text-align: center;
  padding: 6px 0;
}

.chart {
  max-width: 250px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    max-width: none;
    order: 2;
    border: 0;
  }

  .title {
    font-size: 28px;
  }
}
